.logo{
    padding-left: 10px;
    width: 150px;
    height: 150px;
}
.contl{
    width: 600px;
    height: 150px;
    background-color: black;
}
.titulo{
    color: aliceblue;
    position: relative;
    left: 200px;
    bottom: 145px;
    font-size: 50px;
}
*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
    
nav a{

text-decoration:none;
color:inherit;
font-size:14px;
} 

nav li{
display:inline-block;
width:10%;
padding:5px 10px;
background-color:#000;
border:1px solid #000;
text-align:center;
color:#fff;
}
nav li:hover{
background-color:#fff;
color:#000;
}
.user{

width: 200px;
height: 200px;
position: absolute;
left: 1200px;
top: -30px;
}
.userimg{
position: relative;
left: 5px;
padding-top: 40px;
padding-left: 40px;
width: 150px;
height: 150px;
}
.barra{
position: relative;
left: 600px;
bottom: 100px;
}
.menu{
width: 1000px;
height: 100px;
}